@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (    min-moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	html {
		background-image: url(../img/pattern@2X.png);
	}

	body {
		background-image: url(../img/tv_back@2X.jpg);
	}

	#frameoverlay {
		background-image: url(../img/tv_layer@2X.png);
	}
}